{% extends "base.html" %}

{% block title %}Subjects{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Subjects</h1>    
    <form action="{{url_for('submitsubject')}}">
        <input type="submit" value="Add Subject">
    </form>    
</div>

<table style="border-spacing: 30px; border-collapse: separate">
{% for subject in subjects %}
    <tr> 
        <td>
            <h4>
                {{loop.index}}
            </h4>
        </td>
        <td>
            <h4>
                <a href="{{ url_for('testbysubject', subjectname=subject.subjectname) }}">{{subject.subjectname}}</a>
            </h4>
        </td>      
        <td>
            <form action="{{ url_for('deletesubject', subjectname=subject.subjectname) }}">
                <input type="submit" value="Delete {{subject.subjectname}}">
            </form>
        </td>        
        

    </tr> 
{% endfor %}    
</table>

{% endblock %}