{% extends "base.html" %}

{% block title %}Tests{% endblock %}

{% block page_content %}
<div class="page-header">
{% if session['subject'] is not none %}
    <h1>{{session['subject']}} Tests</h1>
{% else %}
    <h1>All Tests</h1>
{% endif %}

    {% if session['subject'] is not none %}
    <form action="{{url_for('submittest', subjectname=session['subject'] )}}">
        <input type="submit" value="Add Test">
    </form>     
    {% endif %}

    

</div>

<table style="border-spacing: 30px; border-collapse: separate">
{% for test in tests %}
    <tr> 
        <td>
            <h4>
                {{loop.index}}
            </h4>
        </td>
        <td>
            <h4> 
                <a href="{{ url_for('questionbytest', testname=test.testname) }}"> {{test.testname}}</a>            
            </h4>           
        </td>
        <td>
            <form action="{{ url_for('subject') }}">
                <input type="submit" value="Edit {{test.testname}}">
            </form>                    
        </td>        
        <td>
            <form action="{{ url_for('deletetest', testname=test.testname) }}">
                <input type="submit" value="Delete {{test.testname}}">
            </form>
        </td>        
        

    </tr>     
{% endfor %}       
</table>

{% endblock %}
